@font-face {
  font-family: MyFont1;
  src: url(./Font/AquireBold-8Ma60.otf);
}
@font-face {
  font-family: MyFont2;
  src: url(./Font/MADEOkineSansPERSONALUSE-Black.otf);
}
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
#wrapper{
  overflow-x: hidden;
}
  

.container{
  height:100vh;
  background-color: #1F305E;
  overflow-x: hidden;
  overflow-y: hidden;
  
 
}
.navbar{

  width:100vw;
  height:50px;
  
  
}
.nav_items{
  display:flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top:1rem;
  font-size: larger;
  font-family:MyFont1;
  color:antiquewhite;
  
 
  
}
.list_items:hover{
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px aqua);
}
.main_text{
  font-size:50px;;
  font-family:MyFont2;
  margin-top:13rem;
  margin-left:5rem;
  color:aliceblue;
  height:50px;
  
 
}
.left_part{
  display:flex;
  position: relative;
  width: 910px;
  width:800px;
  height:auto;
}
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  border-radius: 0.8rem;;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  cursor: pointer;
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
.btn{
  margin-top:2rem;
  margin-right:50rem;
}
.main_img{
  
  
  position:absolute;
  display:flex;
  justify-items: flex-end;
  margin-left:600px;
  height:750px;
  width:auto;
  


}
.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
.list_style:hover{
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px aqua);

}